/*
Theme Name: pall mall medical
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: pall-mall-medical
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

pall mall medical is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
/*@font-face {
 font-family: 'Open Sans', sans-serif;
 src: url('../fonts/Calibri.eot');
 src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),  url('../fonts/Calibri.woff') format('woff'),  url('../fonts/Calibri.ttf') format('truetype'),  url('../fonts/Calibri.svg#Calibri') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Open Sans', sans-serif;
 src: url('../fonts/Calibri-Light.eot');
 src: url('../fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Calibri-Light.woff') format('woff'),  url('../fonts/Calibri-Light.ttf') format('truetype');
 font-weight: 400;
 font-style: normal;
}*/
body {
/*padding-top: 50px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.img-portfolio {
	margin-bottom: 30px;
}
.img-hover:hover {
	opacity: 0.8;
}
.padno {
	padding-left:0px;
	padding-right:0px;
}
.padlno {
	padding-left:0px;
}
.padrno {
	padding-right:0px;
	float: right;
}
/* Home Page Carousel */

header.carousel {
	
}
header.carousel .item, header.carousel .item.active, header.carousel .carousel-inner {
	height: 100%;
}
header.carousel .fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
/* 404 Page Styles */

.error-404 {
	font-size: 100px;
}
.menu_padd{    padding: 0px 0px 0px 37px;}
/* Pricing Page Styles */

.price {
	display: block;
	font-size: 50px;
	line-height: 50px;
}
.price sup {
	top: -20px;
	left: 2px;
	font-size: 20px;
}
.period {
	display: block;
	font-style: italic;
}
/* Footer Styles */

footer {
	margin: 50px 0;
}
/* Responsive Styles */



.parent {
	position:relative;
}
.dropdown-menu h2 {
	color:#fff;
	margin:0px;
	padding:0px;
	padding-bottom:20px;
	    font-size: 20px;
}
/*************Top header**************/
.top-header {
	background:#f7f7f2;
	padding:6px 0px;
	font-size:13px;
}
/*************Top header**************/
.top-header p {
	margin-bottom:0px;
	color:#191919;
	    font-size: 13px;
}
.top-header p span {
	color:#696969;
}
.menu {
}
/*
Credits:
Code snippet by @maridlcrmn (Follow me on Twitter)
Images by Nike.com (http://www.nike.com/us/en_us/)
Logo by Sneaker-mission.com (http://www.sneaker-mission.com/)
*/

/*.wid18{ width:18%; display:inline-block;}
.wid25{ width:32%; display:inline-block;}*/
/*************Navigation**************/
.navbar-brand {
}
.nav-tabs {
	display: inline-block;
	border-bottom: none;
	padding-top: 15px;
	font-weight: bold;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: none;
	border-radius: 0;
}
.nav-list {
}
.nav-list > li {
	width:100%;
	display:block;
	padding-bottom:10px;
	text-align:left;
}
.nav-list > li:last-child {
}
.nav-list > li > a:hover {
	text-decoration: none;
}
.nav-list > li > a > span {
	display: block;
	color: #fff;
	font-size: 13px;
	font-weight:400!important;
}
.nav-list > li > a {
	display: block;
	color: #fff;
	font-size: 13px;
	font-weight:600!important;
}


.mega-dropdown {
	position: static !important;
}
.mega-dropdown-menu {
	padding: 20px 15px 15px;
	text-align: center;
	width: 100%;
}
.navbar-header h3 {
	margin: 0px;
	font-size:19px;
	color: #333333;
	font-weight: 400;
}
.navbar-header p {
	    margin-bottom: 5px;
    color: #a7a7a7;
    font-size: 14px;
}
/*************Appointment**************/
.appointment h1 {
	background: #fff;
	padding: 15px 0px 15px 0px;
	font-size:20px;
	color: #000000;
	width: 21%;
	margin-bottom:30px;
	/* display: inline-block; */
    text-align: center;
	font-weight: 400;
	border-radius: 6px 6px 0 0;
	margin-top: 0px!important;
}
.input-group .icon-addon .form-control {
	border-radius: 0px !important;
}
.appointment select {
	display: block;
	width: 100%;
	padding: 6px 12px;
	line-height: 1.42857143;
	color: #292929;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius:3px !important;
	box-shadow:none !important;
	padding:7px;
	font-size:16px;
	height: 42px;
	
}
.fa-search {
	color:#bdbdbd;
}
.appointment .form-control {
	border-radius:3px !important;
	box-shadow:none !important;
	padding:7px;
	font-size:18px;
}
#first_name {
	background:url(../images/name.png) no-repeat right;
	
}
#last_name {
	background:url(../images/last_name.png) no-repeat right;
	
}
#email {
	background:url(../images/email.png) no-repeat right;
	
}
#date {
	background:url(../images/date.png) no-repeat right;
	
	
}
.appointment .btn-default {
	background:#959b56;
	color:#fff;
	width:100%;
	font-size:16px;
	text-transform:uppercase;
	border:0px;
}
.icon-addon {
	position: relative;
	color: #555;
	display: block;
}
.icon-addon:after, .icon-addon:before {
	display: table;
	content: " ";
}
.icon-addon:after {
	clear: both;
}
.icon-addon.addon-md .glyphicon, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon .fa {
	position: absolute;
	z-index: 2;
	right: 10px;
	font-size: 14px;
	width: 20px;
	margin-left: -2.5px;
	text-align: center;
	padding: 10px 0;
	top: 1px
}
.icon-addon.addon-md .form-control, .icon-addon .form-control {
	padding-left: 15px;
	float: right;
	font-weight: normal;
	margin-bottom: 25px;
}
.icon-addon .form-control:focus + .glyphicon, .icon-addon:hover .glyphicon, .icon-addon .form-control:focus + .fa, .icon-addon:hover .fa {
	color: #2580db;
}
/*************Services**************/

.services {
	background:#f7f7f2;
	padding:50px 0px;
	margin:50px 0px 0px 0px;
}
.services h2 {
	font-size:30px;
	font-weight:400;
	color:#000;
}
/*
.services .box.second { background:#de8a17; }
.services .box.third { background:#371e43; }*/
.services .box {
	background:#fff;
	padding:0px;
	text-align:center;
	padding-bottom:20px;
	width:30%;
	margin-right:4%;
	display:inline-block;
}
.services .box:last-child {margin-right:0%;}
.services .box h2 a {
	color: #000; text-decoration: none;
}
.services .box h2 {
	margin:0px;
	margin-bottom:5px;
	font-size:21px;
	padding: 20px 0px 10px;
}
.services .box h2:after {
	height:1px;
	display: block;
	width: 35px;
	background: #000;
	border-right: 1px white;
	content: '';
	/* text-align: center; */
    margin: 0 auto;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 7px;
}
.services p {
	font-size:16px;
	line-height:25px;
	padding-top:20px;
	color:#000;
	font-weight: 400;
}
.services .box p {
	padding:14px;
	font-size:16px;
	line-height:25px;
}
.services .box img {
	width:100%;
}
.padt100 {
	padding-top:90px;
}
.box_icon {
	overflow: visible;
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}
.ic {
	margin-top: -40px;
	margin-bottom: 8px;
	margin-left: 50%;
	float: left;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.box_img img {
	-webkit-box-shadow: 0 8px 16px -4px #676767;
	-moz-box-shadow: 0 8px 16px -4px #676767;
	    box-shadow: 0 8px 16px -4px #676767;
}
.box_img {
	position:absolute;
	top:10%;
	right: 18%;
}
.box_img h2 {
	    position: absolute;
    top: 26%;
    left: 13%;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    line-height: 29px;
}
.box_img h2:after {
	height:1px;
	display: block;
	width: 35px;
	background: #fff;
	border-right: 1px white;
	content: '';
	/* text-align: center; */
  
    padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 7px;
}
.box_img1 img {
	-webkit-box-shadow: 0 8px 16px -4px #676767;
	-moz-box-shadow: 0 8px 16px -4px #676767;
	    box-shadow: 0 8px 16px -4px #676767;
}
.box_img1 {
	position:absolute;
	top:10%;
	left:18%;
}
.box_img1 h2 {
	    position: absolute;
    top: 26%;
    left: 13%;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    line-height: 29px;
}
.box_img1 h2:after {
	height:1px;
	display: block;
	width: 35px;
	background: #fff;
	border-right: 1px white;
	content: '';
	/* text-align: center; */
  
    padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 7px;
}
.blog {
	background: #f7f7f2;
	padding:0px 0px;
}
.blog h2 {
	padding-top:40px;
	font-size: 30px;
	font-weight: 400;
}
.blog h2 span {
	float:right;
}
.blog h2:after {
	height:1px;
	display: block;
	width: 35px;
	background: #000;
	border-right: 1px white;
	content: '';
	/* text-align: center; */
  
    padding-bottom: 0px;
	margin-bottom: 30px;
	margin-top: 7px;
}
.blog h3 {
	margin:0px;
	margin-bottom:15px;
	font-size:18px;
	font-weight:400;
}
.blog p {
	padding-top:12px;
	font-weight:400;
	font-size:13px;
}
.blog_list {
	clear:both;
	margin-bottom:37px;
	display:inline-block;
}
.marb25 {
	margin-bottom:25px;
}
.green_bg {
	background:#959b56;
	width:60%;
	float:right;
	position:relative;
	padding-top: 354px;
	min-height:548px;
}
.green_bg p {
	color:#fff;
	font-size:14px;
	padding:20px 30px 20px 30px;
	margin:0px;
	line-height:25px;
}
.green_bg1 {
	background:#959b56;
	width:60%;
	float:left;
	position:relative;
	padding-top: 354px;
	min-height:548px;
}
.green_bg1 p {
	color:#fff;
	font-size:14px;
	padding:20px 30px 20px 30px;
	margin:0px;
	line-height:25px;

}
.form-one { display: inline-block; margin-left: 20px; }

.borright {
	/*border-right:1px solid #ededec;
	margin-right:40px;*/
	display: inline-block;
	
	background:url(../images/border.jpg) repeat-y right center; height:45px; padding-left:20px; padding-right: 20px;
}
.ask {
	border-right:1px solid #fff;
	padding: 0px 90px 0px 0px;
}
.blogs {
	padding: 0px 0px 0px 90px;
}
.blogs h2 {
	margin-bottom:65px;
}
.blogs small {
	color:#8e8e8e;
	font-size:12px;
}
.ask .form-control {
	display: block;
	width: 100%;
	padding:10px 12px;
	font-size: 18px;
	line-height: 1.42857143;
	color: #a7a7a7;
	background: #fff;
	border:0px;
	border-radius:0px;
	margin-bottom:10px;
	box-shadow:none;
}
.ask ::-webkit-input-placeholder {
 color: #a7a7a7;
font-size:16px;
font-weight:400;
}
 .ask :-moz-placeholder { /* Firefox 18- */
 color: #a7a7a7;
font-size:16px;
font-weight:400;
}
 .ask ::-moz-placeholder {  /* Firefox 19+ */
 color: #a7a7a7;
font-size:16px;
font-weight:400;
}
 .ask :-ms-input-placeholder {
 color: #a7a7a7;
font-size:16px;
font-weight:400;
}
.appointment ::-webkit-input-placeholder {
 color: #292929;
font-size:16px;
font-weight:400;
}
 .appointment :-moz-placeholder { /* Firefox 18- */
 color: #292929;
font-size:16px;
font-weight:400;
}
 .appointment ::-moz-placeholder {  /* Firefox 19+ */
 color: #292929;
font-size:16px;
font-weight:400;
}
 .appointment :-ms-input-placeholder {
 color: #292929;
font-size:16px;
font-weight:400;
}
.newsletter ::-webkit-input-placeholder {
 color: #a7a7a7;
font-size:16px;
font-weight:400;
}
 .newsletter :-moz-placeholder { /* Firefox 18- */
 color: #a7a7a7;
font-size:16px;
font-weight:400;
}
 .newsletter ::-moz-placeholder {  /* Firefox 19+ */
 color: #a7a7a7;
font-size:16px;
font-weight:400;
}
 .newsletter :-ms-input-placeholder {
 color: #a7a7a7;
font-size:16px;
font-weight:400;
}
.ask .btn-default {
	background: #959b56;
	color: #fff;
	
	font-size: 16px;
	text-transform: uppercase;
	border: 0px;
	margin-bottom:40px;
	    margin-top: 18px;
}
.ask label {
	color:#292929;
	font-size:16px;
	padding-bottom:6px;
	font-weight:400;
}
#name {
	background:url(../images/name.png) no-repeat right #fff;
}
#email2 {
	background:url(../images/email.png) no-repeat right #fff;
}
#ques {
	background:url(../images/ques.png) no-repeat right 17px #fff;
}
.testimonial {
	width: 100%;
	overflow: hidden;
	background:url(../images/bordertop.png) center top repeat-x;
}
.bg h2 {
	padding-top:42px;
	padding-bottom:0px;
	font-size:30px;
	font-weight:400;
}
.bg h2:after {
	height:1px;
	display: block;
	width: 35px;
	background: #000;
	border-right: 1px white;
	content: '';
	/* text-align: center; */
  
    padding-bottom: 0px;
	margin-bottom: 30px;
	margin-top: 7px;
}
.bg h4 {
	font-size:28px;
	font-weight:bold;
	color:#121212;
}
.bg h5 {
	font-size:20px;
	font-weight:bold;
	color:#121212;
	text-align:left;
}
.bg p {
	font-size: 19px;
    padding: 30px 0px 0px 0px;
    font-weight: 300;
    text-align: left;
    color: #000;
}
.bg {
	background: #efeeec url(../images/testimonial.png) no-repeat right;
	min-height:600px;
}
/* Carousel */

#quote-carousel {
	padding: 0 10px 30px 0px;
	margin-top: 30px;/* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
	background: none;
	font-size: 2.3em;
	text-shadow: none;
}
#quote-carousel .carousel-control.left {
	left: -111px;
	top: 96px;
	color: #000;
	font-size: 18px;
}
#quote-carousel .carousel-control.right {
	right: 300px;
	top: 96px;
	font-size: 18px;
	color: #000;
}
#quote-carousel .carousel-indicators {
    /* right: 50%; */
    /* top: auto; */
    bottom: 0px;
    margin-right: -19px;
    left: 2%;
	bottom:10%;
}
#quote-carousel .carousel-indicators li {
	
	cursor: pointer;
	
	border-radius: 50px;

	overflow: hidden;
	transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
}
.carousel-inner {
	min-height: 300px;
}
.item blockquote {
	border-left: none;
	margin: 0;
	padding:0px;
}
.item blockquote p:before {
	content: "\f10d";
	font-family: 'Fontawesome';
	float: left;
	font-size: 16px;
	margin-right:10px;
}
.item blockquote p:after {
	content: "\f10e";
	font-family: 'Fontawesome';
	float: right;
	font-size: 16px;
}
.client {
	margin:54px 0px;
}
.client .thumbnail {
	border:0px;
	margin-bottom:0px;
}
.client .carousel-control {
	left: -12px;
	height: 40px;
	width: 40px;
	background: none;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	margin-top: 90px;
	color: #000;
	font-size: 45px;
}
.client .carousel-control.right {
	/*right: -54px;*/
	left: auto;
	top:0px;
	margin: 0px;
}
.client .carousel-control.left {
	left: -54px;
	top:0px;
	margin: 0px;
}
.client .carousel-inner {
	min-height:100px!important;
}
.client .wid20 {
	width:19%;
	display:inline-block;
}
ul.social {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width:51%;
	float: right;
	margin-top:20px;
}
ul.social li {
	display:inline-block;
	margin-right:43px;
}
ul.social li:last-child {
	margin-right:0px;
}
ul.social li i {
	font-size:30px;
	color:#b0b0b0;
}
.newsletter {
	margin:30px 0px 150px 0px;
}
footer {
	background:#f7f7f2;
	margin:0px;
	padding:50px 0px;
	font-weight:400;
}
footer h3 {
	font-weight:bold;
	font-size:22px;
	color:#121212;
	margin-bottom:40px;
}
footer ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
footer ul li {
	line-height:24px;
	color:#121212;
}
footer ul li a:hover { color: #121212; }
footer ul li a {
	color:#121212;
	text-decoration:none;
	font-size:13px;
	font-weight:400;
	line-height:25px;
}
.footer-bottom {
	background:#959b56;
	color:#fff;
	margin:0px;
	padding:10px 0px;
	font-weight: 100;
    font-size: 12px;

}
.client #Carousel .carousel-indicators{ display:none;}

.carousel.carousel-fade .item {
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
opacity:0;
}

.carousel.carousel-fade .active.item {
opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
left: 0;
z-index: 2;
opacity: 0;
filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
left: 0;
z-index: 1;
}

.carousel.carousel-fade .carousel-control {
z-index: 3;
}

.more { padding: 0 15px; margin-right: 15px; height: 38px; float: left; line-height: 38px; color: #fff; border-radius: 4px; background:#959b56; }
.more:hover { text-decoration: none; color: #fff; background:#717739; }
.more.differ { border: 1px solid #717739; color: #717739;  background: none; }
.more.differ:hover { background:#717739; color: #fff; }

.iwantto { position: relative; width: 100%; z-index: 999999999; }
.iwantto .iwantto-txt { text-decoration: none; width: 100%; float: left; border-bottom: 1px solid #c3c3c3; font-size: 14px; color: #a7a7a7; line-height: 30px; }
.iwantto .arrow { z-index: 99999; position: absolute; top: 17px; right: 0; width: 25px; float: left; height: 14px; background:url(../images/drop.png) right bottom no-repeat; }
.iwantto.open .arrow { background:url(../images/drop2.png) right bottom no-repeat; }
.iwantto .iwantto-txt:hover { text-decoration: none; }
.iwantto .iwantto-txt .want { background: #fff; padding-right: 5px; }
.iwantto ul { display: none; position: absolute; top: -4px; right: 6%; width: 88%; border-radius: 0 0 4px 4px; background: #f7f7f2; padding-left: 0px; list-style: none; padding: 5px 0; }
.iwantto li:first-child { border: 0px; }
.iwantto li { margin: 0 15px; border-top: 1px solid #ebebe8; }
.iwantto li a { padding: 0 0 0 0px; line-height: 38px; color: #6e6e6e; font-size: 13px; position:relative; }
.iwantto li a:hover { text-decoration: none; }
.iwantto li a:after,.iwantto li.active-trail a:after{-webkit-transition:.5s ease;transition:.5s ease;-o-transition:.5s ease;-ms-transition:.5s ease;position:absolute;height:1px;top:100%;content:'';left:0;right:100%;background-color:#a09f9f; }
.iwantto ul>li.active-trail:last-child>a:after,.iwantto ul>li.active-trail:last-child>a:hover:after,.iwantto ul>li.active-trail>a:after,.iwantto ul>li.active-trail>a:hover:after,.iwantto ul>li>a.active:after,.iwantto ul>li>a:hover:after{right:0; }
.navbar-form { margin-bottom: 0px; margin-top: 0px; width: 200px; transition:all 0.9s ease; }
.navbar-form.open { width: 350px; }
.navbar-form .btn:focus { background: none; }
.navbar-form .form-control { margin-top: -25px; }
.navbar-form .btn { margin-top: -17px; }
.navbar-form .btn:active { box-shadow: none; }

.padrno ul.social { float: left; margin: 0px; width: 68%; }
.padrno ul.social li i { font-size: 15px; }
.padrno ul.social li { margin: 0 5px; }

.overlay2 { opacity: .1; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; background: #000; }
.overlay { opacity: .3; width: 100%; height: 360px; position: absolute; top: 0px; left: 0px; background: #000; }
.flexslider .carousel-caption { color: #fff; }
.flexslider .carousel-caption p { padding-top: 5px; color: #fff; font-size: 16px; line-height: 28px; }


.dropdown-menu {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.nav-list > li { float: left; width: 100%; }
.nav-list > li > a { float: left; }
.tab-pane li a {  position:relative; }
.tab-pane li a:after,.tab-pane li.active-trail a:after{-webkit-transition:.5s ease;transition:.5s ease;-o-transition:.5s ease;-ms-transition:.5s ease;position:absolute;height:1px;top:100%;content:'';left:0;right:100%;background-color:#fff; }
.tab-pane ul>li.active-trail:last-child>a:after,.tab-pane ul>li.active-trail:last-child>a:hover:after,.tab-pane ul>li.active-trail>a:after,.tab-pane ul>li.active-trail>a:hover:after,.tab-pane ul>li>a.active:after,.tab-pane ul>li>a:hover:after{right:0; }
.blog .icon-addon { margin-bottom: 20px; }

.header { background: #fff; }
.header.effect-in .top-header { display: none; }
.header.effect-in { position: fixed; top: 0px; left: 0px; width: 100%; z-index: 9999999999; }
.header.effect-in .navbar-brand { width: 50%; float: left; margin-top: 4px; }
.header.effect-in .navbar-brand img { max-width: 100%; height: auto; }
.header.effect-in .navbar-header { padding: 10px 0; }
.header.effect-in .navbar-header h3 { font-size: 16px; }
.header.effect-in .navbar-header p { font-size: 12px; }
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}