@media (min-width: 1500px) {
.container {
width:1500px;
}
}
@media (max-width: 1499px) {
}
@media (min-width: 1400px) and (max-width:1499px) {
.container {
width:1400px;
}
}
 @media (min-width: 1300px) and (max-width:1399px) {
.container {
width:1296px;
}
.nav>li>a {
padding: 12px 20px;
}
.borright {
padding-left: 29px;
}
.carousel-caption {
 right: 20%;
 left: 9%;
 top: 22%;
}
.green_bg1 {
width:59%;
}
.green_bg1 p, .green_bg p {
line-height:22px;
}
ul.social li {
 margin-right:30px;
}
header.carousel {
 height: 68%;
}
.nav > li > a {
padding:12px 19px;
}
.carousel-caption {
top:14%;
}
.appointment h1 {
margin-top:-92px;
}
}
 @media only screen and (min-width:1024px) and (max-width:1280px) {
.nav > li > a {
padding:12px 21px !important;
font-size:10px;
}
.navbar-header p {
font-size:13px;
}
.appointment h1 {
width:29%;
}
.green_bg {
width:63%;
}
#quote-carousel .carousel-indicators {
bottom:3%;
}
.newsletter .btn-primary {
font-size:12px;
}
.newsletter .form-control {
padding: 7px 12px;
}
.dropdown-menu {
top:87%;
}
.navbar-header h3 {
font-size:15px;
}
.navbar-inverse .navbar-nav > li:last-child > a {
 padding-right: 10px;
}
.newsletter .btn-primary{ font-size:12px;}
}
 @media only screen and (min-width:991px) and (max-width:1024px) {
/*.wid18{ width:25%; display:inline-block;}
.wid25{ width:25%; display:inline-block;}*/
}
@media only screen and (min-width:990px) and (max-width:1024px) {
.nav > li > a {
padding:12px 18px;
}
}
@media only screen and (min-width:981px) and (max-width:1300px) {
 .borright {
padding-left:0px;
background:none;
}
 .nav>li>a {
padding:12px 9px;
}
 ul.social li {
margin-right:25px;
}
.newsletter .btn-primary {
font-size:12px;
}
 .newsletter .form-control {
padding:7px 12px;
}

}
 @media only screen and (max-width:1023px) {
 .carousel-caption {
 right: 20%;
 left: 5%;
 top:21%;
 padding-bottom: 30px;
}
.padrnomob{ padding-left:0px !important; padding-right:0px !important;}
.navbar-header{ padding-bottom:10px !important;}

header.carousel {
    margin-bottom:0px !important;
}
.carousel-inner {
    min-height: auto;
}
.padrno {
 padding-right: 15px;
}
.padlno {
 padding-left: 15px;
}

#quote-carousel .carousel-indicators {
bottom:0%;
}
.nav-list > li > a > span {
 font-size: 13px;
}
.menu_padd {
 padding: 0px 15px;
}
.nav>li>a {
padding:12px 20px;
}
.tab-content, .tab-content .col-md-3 {
padding-left:0px !important;
}
/*.wid18{ width:100%; display:inline-block;}
.wid25{ width:100%; display:inline-block;}*/
.client .carousel-control.left {
left: 0px;
}
.client .carousel-control.right {
right: 0px;
}
ul.social li {
 margin-right:12px !important;
}
.appointment h1 {
 margin-top: 0px !important;
 width: 100% !important;
 margin-bottom: 14px !important;
 text-align: left !important;
}
.appointment select {
margin-bottom:16px;
}
.ask {
 border-right:0px !important;
 padding-right: 20px !important;
}
.newsletter {
 margin: 30px 0px 30px 0px !important;
}
.blogs {
 padding-left:0px !important;
}
header.carousel {
 margin-bottom:20px;
}
.carousel-caption p {

}
.newsletter .btn-primary {
margin-top:20px;
}
footer h3 {
margin-bottom:15px !important;
}
.blog_list .col-md-7 {
padding-left:0px;
margin-top:20px;
}
#quote-carousel .carousel-control.left {
 left: 0px !important;
 top: 0px !important;
}
#quote-carousel .carousel-control.right {
left:30px !important;
 top: 0px !important;
}
 footer .text-right {
text-align:left;
}
ul.social {
float:left !important;
}
#quote-carousel .carousel-indicators{ left:4.5%;}
}
@media (max-width: 992px) {
}
 @media only screen and (max-width:991px) {
 .customer-img, .img-related {
 margin-bottom: 30px;
}
.navbar-toggle {
display:block;
}
.collapse {
 display: none;
}
 .navbar .menu .navbar-collapse {
display:none;
}
.navbar .menu .navbar-collapse.collapse.in {
display:block;
height:auto;
}
.navbar .menu .navbar-collapse.collapse.in ul.navbar-nav li {
width:100%;
background:#959b56;
color:#fff;
}
.navbar .menu .navbar-collapse.collapse.in ul.navbar-nav li a {
color:#fff;
}
.navbar .menu .navbar-nav .open .dropdown-menu {
 position: static;
 float: none;
 width: auto;
 margin-top: 0;
 background-color: transparent;
 border: 0;
 -webkit-box-shadow: none;
 box-shadow: none;
}
.nav>li>a {
font-size:14px;
padding:12px 5px;
}
.navbar .menu .navbar-nav {
width:100%;
}
.nav-list {
width:90%;
}
.dropdown-menu h2 {
font-size:20px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
 color: #fff;
 background-color: #7e8442;
}
 .appointment select {
margin-bottom:34px;
}
.green_bg, .green_bg1 {
width:80%;
}
.green_bg p {
padding:20px;
}
 .carousel-caption {
 right: 17%;
 left: 5%;
 top: 2%;
 padding-bottom: 30px;
 width: 90%;
}
.borright {
padding-left:0px;
border-right:0px;
background:none;
margin:20px 0px 10px 0px;
}
 .navbar-header h3 {
font-size:15px;
}
 .navbar-header p {
font-size:12px;
}
 .carousel-caption {
 top:10%;
 left:10%;
 padding-bottom: 30px;
}
#myCarousel h2 {
font-size:24px;
}
.carousel-caption p {
width:100%;
padding-top:8px;
}
}
 @media only screen and (min-width:768px) and (max-width:990px) {
 .box_img1 h2, .box_img h2 {
font-size:21px;
}
 .navbar-header h3 {
 margin: 0px;
 font-size: 15px;
}
}
@media only screen and (max-width:767px) {
 .img-portfolio {
 margin-bottom: 15px;
}
.appointment select {
margin-bottom:34px;
}
.navbar-nav {
background:#959b56 !important;
}
.navbar-inverse .navbar-nav>li>a {
color:#fff;
}
 .carousel-caption {
right:20%;
 width: 100% !important;
left:2%;
top:10%;
padding-bottom:30px
}
.appointment h1 {
width:27% !important;
}
.carousel-caption p {
width:100%;
font-size:15px;
!important;
}
.carousel-indicators {
bottom:20px
}
.ask {
 border-right:0px !important;
 padding-right: 0px !important;
}
.blogs {
 padding-left: 0px !important;
}
#quote-carousel .carousel-control.left {
 left: 0px !important;
 top: 0px !important;
}
#quote-carousel .carousel-control.right {
left:30px !important;
 top: 0px !important;
}
 header.carousel .carousel {
 height: 70%;
}
 .services .box {
width:100% !important;
margin-bottom:30px;
}
 .appointment h1 {
 margin-top: 0px !important;
 width: 100% !important;
 margin-bottom: 14px !important;
 padding-left: 15px;
 text-align: left !important;
}
.appointment select {
margin-bottom:16px;
}
.blog_list .col-md-7 {
padding-left:0px;
padding-top:10px;
}
.appointment .btn-default, .ask .btn-default {
 width: 50% !important;
 margin-top:10px;
}
.carousel-caption {
top:6% !important;
padding:15px;
}
.carousel-caption p {
 width: 100%;
}
footer .text-right {
text-align:left;
}
ul.social {
float:left !important;
}
.bg {
 background: #e3dbd8 !important;
}
.newsletter {
 margin: 30px 0px 30px 0px !important;
}
.navbar-brand {
padding:20px;
}
.padt100 {
 padding-top:0px !important;
margin-bottom:30px;
}
.client .wid20 {
width:100% !important;
display:inline-block;
margin-bottom:20px;
}
.borright {
 border-right:0px !important;
 padding-left:20px;
}
.client .carousel-control.right {
right: 0px !important;
top:40% !important;
}
.client .carousel-control.left {
left: 0px !important;
top:40% !important;
}
.navbar-form {
margin:20px 0px 20px 0px !important;
}
.navbar-nav {
 background:#f7f7f2;
 border: 0px;
 box-shadow: none;
}
.psdlnomob {
padding-left:0px;
}
.green_bg, .green_bg1 {
 width: 86% !important;
min-height:400px;
}
.top-header .text-right {
text-align:left;
}
.box_img1 h2 {
top:26%;
}
.box_img1 h2 br {
display:none;
}
.parent {
 position: relative;
 display: block;
 clear: both;
 padding-bottom: 165px;
}
.padrnomob {
    padding-left: 10px !important;
    padding-right: 0px !important;
}
}
@media only screen and (max-width:640px) {
}
@media only screen and (max-width:639px) {
}
@media only screen and (max-width:480px) {
.box_img1 h2, .box_img h2 {
font-size: 16px;
}
.navbar-header .col-xs-4 {
width:100%;
}
}
@media only screen and (max-width:479px) {
}
@media only screen and (max-width:360px) {
#myCarousel h2 {
 font-size: 20px;
}
 header.carousel {
 height:62% !important;
 margin-bottom: 20px;
}
.green_bg {
padding-top:200px;
}
.green_bg1 {
padding-top:240px;
}
ul.social li {
 margin-right: 16px;
}
.box_img1 h2, .box_img h2 {
left: 7%;
font-size: 16px;
}
.carousel-caption p {
 width: 100% !important;
}
.carousel-caption {
width: 100% !important;
 left: 0% !important;
}
 .carousel-caption p {
font-size:15px;
!important;
}
}
@media only screen and (max-width:320px) {
}
