.pall_mall_medical_text{
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.pall_mall_medical_tite{
    display: inline-block;
    margin-bottom: .5rem;
}
a.addnewmore {
    font-size: 3em;
    cursor: pointer;
}